"" .ideavimrc - Matt Chapman

"" Base Settings
"" ========================================================

set scrolloff=999
set relativenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set visualbell

" Use system clipboard
set clipboard+=unnamed

let mapleader = " "


"" Plugin Settings
"" ========================================================

set surround
set highlightedyank
set sneak
set nerdtree

" Easymotion settings
set easymotion
set notimeout

"" Key mappings
"" ========================================================

inoremap jj <Esc>

" Tab navigation
nnoremap <S-l> :tabnext<CR>
nnoremap <S-h> :tabprev<CR>

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Execute macro saved in 'q' register
nnoremap qj @q

" Popup navigation
inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)

nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

"" Leader commands
"" ========================================================

" Comment lines
map <leader>c <action>(CommentByLineComment)

"Run and debug"
nmap <leader>rrp <action>(Run)
nmap <leader>rra <action>(android.deploy.ApplyChanges)
nmap <leader>stp <action>(Stop)
nmap <leader>db <action>(DebugClass)
nmap <leader>tb <action>(ToggleLineBreakpoint)

" Jump around with easymotion
map <leader>j <Plug>(easymotion-j)
map <leader>h <Plug>(easymotion-h)
map <leader>k <Plug>(easymotion-k)
map <leader>ww <Plug>(easymotion-w)
map <leader>b <Plug>(easymotion-b)


" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" Window splits
map <leader>sv <Action>(SplitVertically)
map <leader>sh <Action>(SplitHorizontally)
map <leader>su <Action>(Unsplit)
map <leader>sm <Action>(MoveEditorToOppositeTabGroup)


" Actions
map <leader>am <action>(ShowIntentionActions)
map <leader>as <action>(SearchEverywhere)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)

" Close active tab
map <leader>q <action>(CloseContent)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
nmap <leader>fmc <Action>(ReformatCode)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)